*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
  }

body {
    margin: 0;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    background: gainsboro;
    width: 100%;
}

header {
   background: #6caef8;
   text-align: center;
   color: white;
}

section {
    height: 600px;
    width: 100%;
}

.sec-main {
    background: #9cd0e6;
}

.sec-other {
    visibility: hidden;
    background: #a7e0c4;
    transition: all 0.3s;
    transform: translateY(100px);
    opacity: 0;
}

.SectionIsActive {
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
}

footer {
    background: #6caef8;
    text-align: center;
    color: white;
}
